h1 {
    color: var(--vermelho);
    font-family: var(--fonte-título);
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0 0 20px;
}

.movie__titulo {
    color: var(--laranja);
}

header {
    display: flex;
    justify-content: space-between;
}

.img__menu-hamburguer {
    margin: 22px 10px;
}

#menu {
    display: none;
}

.lista__menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 265px;
    top: 50px;
    list-style: none;
    text-decoration: underline;
    background-color: rgba(252, 191, 73, 0.6);
    height: 160px;
    margin: 0 0;
    padding: 10px 20px;
    color: var(--azul-menu);
    font-weight: 600;
    font-size: 18px;
    font-family: var(--fonte-paragrafo);
    border-radius: 2.5px;
}

#menu:checked ~ .lista__menu {
    display: flex;
}

.menu__entrar {
    display: none;
}



