.generos {
    margin: 20px 0 20px 15px;
}

.titulo__dropdown {
    font-family: var(--fonte-título);
    color: var(--amarelo);
}

#selecionar__genero{
    font-family: var(--fonte-paragrafo);
    font-size: 15px;
    background-color: #d0d5d9;
    color: var(--azul-menu);
    font-weight: bold;
    border: none;
    border-radius: 2.5px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}


.movie {
   display: flex;
   flex-direction: column; 
   width: 40%;
}

.movie img {
    width: 100%;
}

.overview {
    display: block;
    position: fixed;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza a caixa no centro da tela */
    z-index: 999; /* Garante que a caixa de texto fique em cima de outros elementos */
    background-color: #f1f1f1;
    padding: 10px;
    width: 80%; /* Define a largura máxima da caixa */
    border: 1px solid #ccc;
}

.movie-info {
    font-family: var(--fonte-paragrafo);
    font-size: 15px;
    color: var(--amarelo);
}

.vote {
    font-family: var(--fonte-paragrafo);
    font-size: 15px;
}
