@import url('header.css');
@import url('movies.css');


body {
    background-color:var(--azul-escuro-fundo);
    margin: 0 0 0 0;
    width: auto;
}

:root {
    --vermelho:#d62828;
    --laranja: #f77f00;
    --fonte-título: 'Pangolin', cursive;
    --fonte-paragrafo:'Alegreya Sans', sans-serif;
    --azul-menu: #00122b;
    --amarelo: #fcbf49;
    --azul-escuro-fundo: #142D43;

}